<h1><%= data.name %></h1>
<p><i>Values are listed in gallons</i></p>
<table>
    <tr>
      <th>Year</th>
      <th>Total</th>
      <th>Tier 1</th>
      <th>Glyphosate</th>
      <th>Applications</th>
    </tr>
    <% Object.keys(data.park.byYear).sort().forEach(function(y) { %>
    <tr>
      <td><strong><%= y %></strong></td>
      <td><%= data.park.byYear[y].sum == 0 ? "0" : data.park.byYear[y].sum < 0.1 ? "< 0.1" : data.park.byYear[y].sum.toFixed(1) %></td>
      <td><%= data.park.byYear[y].tierOne == 0 ? "0" : data.park.byYear[y].tierOne < 0.1 ? "< 0.1" : data.park.byYear[y].tierOne.toFixed(1) %></td>
      <td><%= data.park.byYear[y].sumGly == 0 ? "0" : data.park.byYear[y].sumGly < 0.1 ? "< 0.1" : data.park.byYear[y].sumGly.toFixed(1) %></td>
      <td><%= data.park.byYear[y].count %></td>
    </tr>
  <% }); %>
</table>
