<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h1>Pesticides in Seattle parks</h1>
        <div class="chatter">
          Seattle sprays thousands of gallons of pesticide mixes each year in developed parks around the city. Click on a park to see a summary of pesticide sprayings over the past decade. You can also see how much pesticide usage involved Tier 1 products -- considered the most hazardous – and how much involved products with the active ingredient glyphosate. Enter an address to find information on parks near you.
        </div>
        <div class="mapContainer">
          <div class="nav">
            <div class="layers section">
              <button class="layer button pesticide">
                <div class="swatch toxic"></div>
                Pesticides used
              </button>
              <button class="layer button pesticideFree">
                <div class="swatch safe"></div>
                Pesticide-free
              </button>
            </div>
            <div class="geocoding section">
              <input class="address-input" type="text" placeholder=" Enter address here">
              <button class="button geocode">Go!</button>
            </div>
          </div>
          <div class="aspect-container">
            <leaflet-map>
              <tile-layer layer="cartoPositron">
              </tile-layer>
            </leaflet-map>
          </div>
          <div class="source">
            Source: Seattle Department of Parks and Recreation
          </div>
          <div class="note">
            Note: Sprayings displayed occurred between January 2007 and May 2017. The figures do not represent the amount of active ingredient, but rather the sum of products applied. Measurements not listed in gallons were converted by The Seattle Times.
          </div>
          <div class="credit">
            ELLIS SIMANI / THE SEATTLE TIMES
          </div>
        </div>
      </main>
    </responsive-child>

    <script>
      window.pesticideData = <%= JSON.stringify(csv.cleaned2) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
